@font-face {
    font-family: "Shabnam";
    src: url("../../font/Shabnam.ttf");
}
@font-face {
    font-family: "DastNevis";
    src: url("../../font/danstevis.otf");
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");

* {
    /* direction:rtl !important; */
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "shabnam", sans-serif !important;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    font-family: "shabnam", "Open Sans", sans-serif !important;
    font-weight: normal;
    font-style: normal;
    color: #6a6972;
    overflow-x: hidden;
    background-color: #fafafa;
}

p {
    line-height: 1cm !important;
    font-size: 16px;
    font-weight: 400;
    color: #6a6972;
    margin: 0px;
}

p > span {
    color: black !important;
}

a:focus,
a:hover,
input:focus,
textarea:focus,
button:focus {
    text-decoration: none;
    outline: none;
}
/*general classes */
.main-color-blue {
    color: #20c5ba !important;
}
.main-color-black {
    color: #000000 !important;
}
.blue-background {
    background-color: #20c5ba !important;
}
.main-color-yellow {
    color: #ffe735 !important;
}
.blue-border {
    border: solid 1px #20c5ba;
    border-radius: 5px;
}
.shadow {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14) !important;
    border-style: none;
}
.hr {
    border-bottom: 2px solid #20c3b8;
    margin-bottom: 5px;
}
.comment-border {
    border: 3px dotted #20c5ba;
}
.text-landing {
    font-size: 50px;
    margin-top: -30px;
}
.text-landing-quick {
    font-size: 1.5rem;
    background-color: #20c5ba;
    color: white;
    border-radius: 95px;
    padding: 5px 25px;
}

.text-landing-quick-sm {
    font-size: 1.3rem;
    background-color: #20c5ba;
    color: white;
    border-radius: 95px;
    padding: 5px 25px;
}

/*Video of index page */
.videoTitle {
    font-size: 35px;
}

.Gray-style {
    background-color: gray;
    border-radius: 10px;
    padding: 6px;
}

.page-link {
    background-color: transparent;
}

.page-item.disabled .page-link {
    background-color: transparent !important;
}

.videoBody {
    margin-bottom: 10px;
    border: 5px solid #20c5ba;
}
.videoBody video {
    color: yellow !important;
}

.Terms {
    font-size: 1.7rem;
    line-height: 1.73;
    max-width: 1000px;
    color: #424750;
    margin-bottom: 30px;
}

/* Intro Academy */
.roadMap {
    direction: rtl;
    margin: 0px 10px 25px;
    /* box-shadow: 0px 0px 20px black !important; */
    border-style: none;
    /* background-color:#20c5ba !important; */
}

.roadMap-text {
    font-size: 24px;
    text-align: center;
    color: white;
}

.roadMap-text-right {
    font-size: 24px;
    text-align: right;
    color: white;
}

.roadMap-text-small {
    font-size: 18px;
    text-align: right;
    color: black;
}

.roadMap-link {
    border-radius: 10px;
    border-color: #ffe735;
    color: #000000;
    /* background-image: linear-gradient(45deg, #ffe735 50%, transparent 50%); */
    /* background-position: 0; */
    /* background-size: 400%; */
    /* padding-right:30px; */
    /* padding-top:15px; */
    /* padding-bottom:15px" */
}
.roadMap span {
    font-size: 12px;
}

/* pakages */
.pakage-content {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    border-style: none;
    height: 300px;
    max-height: 300px;
}
.pakage-title {
    font-size: 16px;
    direction: rtl;
}

.pakage-header,
.pakage-image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pakage-header {
    border-style: none;
}
.pakage-image {
    display: inline-block;
    height: 20vh;
    width: 100%;
}
.pakage-footer {
    font-family: Dastnevis;
    font-size: 23px;
    direction: rtl;
}
.pakage-soon {
    background-color: beige;
    border-color: beige;
}

/* Posts */
.post-content {
    border-radius: 20px;
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    border-style: none;
    height: 100%;
    background-color: #fff;
}

.single-comment {
    background-color: #fff;
}

.post-banner {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: none;
}

.post-image {
    display: inline-block;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    height: 200px;
    width: 100% !important;
}

.post-title {
    direction: rtl;
    font-size: 17px;
}

.post-summray {
    line-height: 25px !important;
    font-size: 1rem;
    direction: rtl;
}

.post-footer {
    line-height: 30px;
}

/* Teachers */
.theacher-craft {
    margin-top: 0px;
    line-height: 25px !important;
}

/*  feedback  */
.feedback-body {
    height: 270px !important;
    width: 300px;
}

.feedback-text {
    line-height: 2 !important;
}

.feedback-link {
    font-size: 20px;
    font-family: dastnevis;
}

.feedback-image {
    display: inherit !important;
    border-radius: 50px;
}

/* coursees  */
.course {
    margin-top: 70px !important;
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

.course-form {
    border-radius: 20px;
    text-align: center;
    border: 3px solid #20c5ba;
    background-color: white;
}
/* comment  */
.comment-p {
    font-size: 15px;
    color: #20c5ba;
    line-height: 25px !important;
}

.comment-box {
    border-radius: 20px;
    box-shadow: 0px 0px 5px #20c5ba;
    border-style: none;
}
/* my learn */
.mylearn {
    margin-top: 90px !important;
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}

/* btn-takhfif */
.btn-takhfif {
    color: #20c5ba !important ;
    background-color: transparent;
}
/* btn-collapse */
.btn-collapse {
    padding: 10px 10px !important ;
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    right: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-right: 45px;
}

ul.timeline > li:before {
    content: " ";
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #ffe735;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 15px;
}
/* End of Timeline */
/* timeline Course */

ul.timelineCourse {
    list-style-type: none;
    position: relative;
}

ul.timelineCourse:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    right: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timelineCourse > li {
    margin: 20px 0;
    padding-right: 45px;
}

ul.timelineCourse > li:before {
    content: " ";
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #20c5ba;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
    margin-top: 15px;
}
/* End of timeline Course */

.header-bg {
    left: 0;
    top: 0;
    position: absolute;
    /* height: 600px; 
    width: 100%; */
}

.dsble:disabled {
    opacity: 0.1%;
}

img {
    max-width: 100%;
}
/*Pagination starts*/
.pagination li a {
    border-radius: 10px;
}

/*Pagination ends*/
/*----------Preloader starts-----------------*/

#Pre-loader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #09433e, #bcf6f0);
    opacity: 1 !important;
    z-index: 99999999999;
}

#preloader span {
    color: #ffff1a !important;
    font-family: "Times New Roman" !important;
}

#preloader span {
    position: relative;
    top: 40vh;
    display: block;
    animation: bounce_ 0.4s ease infinite alternate;
    font-family: "W_yekan Bold";
    font-size: 16vw;
    color: #ffffb3;
    text-shadow: 0 1px 0 #999900, 0 2px 0 #999900, 0 3px 0 #999900,
        0 4px 0 #999900, 0 5px 0 #999900, 0 6px 0 transparent,
        0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
        0 10px 10px rgba(0, 0, 0, 0.4);
}

#preloader span:nth-child(2) {
    animation-delay: 0.1s;
}

#preloader span:nth-child(3) {
    animation-delay: 0.2s;
}

#preloader span:nth-child(4) {
    animation-delay: 0.3s;
}

#preloader span:nth-child(5) {
    animation-delay: 0.4s;
}

#preloader span:nth-child(6) {
    animation-delay: 0.5s;
}

#preloader span:nth-child(7) {
    animation-delay: 0.6s;
}

#preloader span:nth-child(8) {
    animation-delay: 0.7s;
}

@keyframes bounce_ {
    100% {
        top: 42vh;
        text-shadow: 0 1px 0 #999900, 0 2px 0 #808000, 0 3px 0 #808000,
            0 4px 0 #808000, 0 5px 0 #808000, 0 6px 0 #808000, 0 7px 0 #808000,
            0 8px 0 #808000, 0 9px 0 #808000, 0 50px 25px rgba(0, 0, 0, 0.2);
    }
}
/*------------Preloader ends----------------*/
/*===============navbar starts=========================*/

.nav-item {
    margin-right: 30px;
    padding: 0px !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar {
    direction: rtl !important;
    padding: 0px !important;
    transition: 0.7s;
    z-index: 1000 !important;
}

.btnblog {
    position: relative;
    border-radius: 50px;
    margin-top: 8px;
    width: 200px;
    color: white;
    font-size: 12px;
    transition: 400ms;
}

.btnblog:after {
    content: "";
    width: 194px;
    height: 90%;
    border-radius: 50px;
    border: 1px white solid;
    position: absolute;
    right: 2px;
    top: 2px;
}

.btnblog:hover {
    color: white;
}

.btn-1 {
    background-image: linear-gradient(to right, yellow, lightyellow);
    transition: 400ms;
}

.btn-1:hover {
    background-image: linear-gradient(to right, lightyellow, yellow);
}

.btn-2 {
    background-image: linear-gradient(to right, red, palevioletred);
}

.btn-2:hover {
    background-image: linear-gradient(to right, palevioletred, red);
}

.btn-3 {
    background-image: linear-gradient(to right, blue, deepskyblue);
}

.btn-3:hover {
    background-image: linear-gradient(to right, deepskyblue, blue);
}

.btn-4 {
    background-image: linear-gradient(to right, orangered, orange);
}

.btn-4:hover {
    background-image: linear-gradient(to right, orange, orangered);
}

.btn-5 {
    background-image: linear-gradient(to right, purple, hotpink);
}

.btn-5:hover {
    background-image: linear-gradient(to right, hotpink, purple);
}

.btn-loginSign {
    padding: 8px !important;
    margin-left: 4px;
    position: absolute;
    left: 10px;
    top: 5px;
    border: solid 2px #f1c40f;
    background-color: transparent;
    color: black;
    transition: 0.4s;
    border-radius: 40px;
}

.btn-loginSign:hover {
    background-color: #f1c40f;
}

btn-loginSign:focus {
    outline: none !important;
}

.search {
    position: fixed;
    left: 160px;
    top: 20px;
    cursor: pointer;
    transition: 200ms;
    color: blue;
}

.search:hover {
    color: lightgrey;
}

/*================navbar ends===========================*/

.learn-bg {
    position: relative;
    left: 20px;
    height: 500px;
    width: 500px;
}

.learn-style {
    position: relative;
    margin-top: 80px;
}

.txt-title {
    color: #0a0c0d;
    font-size: 1.5em;
    font-weight: bold;
}

.hover-style:hover {
    background-color: #f4f6f6;
}

.dire {
    direction: ltr;
}

.txt-style {
    margin-top: 80px;
    margin-left: 80px;
}

.btn-style {
    background: #0abfbc;
}

.btnarrow {
    position: relative;
    text-align: center;
    margin-top: -15px;
}

.footer {
    text-align: center;
    width: 100%;
    height: auto;
}

.txt-footer {
    align-items: center;
}

.btnstyle {
    background: yellow;
}

/*link*/

.link-wrapper {
    padding: 0 35px;
}

@media (max-width: 767px) {
    .link-wrapper {
        padding: 0;
        padding-right: 50px;
    }
}

.link-wrapper .link {
    padding-top: 20px;
}

.link-wrapper .link li {
    margin-top: 20px;
}

.link-wrapper .link li a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.link-wrapper .link li a:hover {
    color: #fe8464;
}

/*Button styles*/

.btn-style {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    align-self: center;
    font-size: 0.8rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "shabnam", sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

.btn-style:hover,
.btn:focus {
    outline: 0;
}

.fourth {
    border-color: #ffe735;
    color: #000000;
    background-image: linear-gradient(45deg, #ffe735 50%, transparent 50%);
    background-position: 0;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.fourth:hover {
    background-position: 100%;
}

.btnGreen {
    border-color: #1fbd50;
    color: white;
    background-image: linear-gradient(45deg, #1fbd50 50%, transparent 50%);
    background-position: 0;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.btnGreen:hover {
    background-position: 100%;
}

.btnLearniaa {
    border-color: #20c5ba;
    color: #000000;
    background-image: linear-gradient(45deg, #20c5ba 50%, transparent 50%);
    background-position: 0;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.btnLearniaa:hover {
    background-position: 100%;
}

.btnClose {
    border-color: brown;
    color: white;
    background-image: linear-gradient(45deg, brown 50%, transparent 50%);
    background-position: 0;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    background-color: white;
    border-color: brown;
}

.btnClose:hover {
    background-position: 100%;
}

.learniaaColor {
    padding-top: 10px;
    border-color: #20c5ba;
    color: #000000;
    background-image: linear-gradient(45deg, #20c5ba 50%, transparent 50%);
    background-position: 0;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.learniaaColor:hover {
    background-position: 100%;
}

.BtnLearniaaColor {
    border-radius: 35px;
    background-color: #20c5ba;
    border-color: #20c5ba;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

/* Card Learner info */

.cardinfoLearner {
    padding: 2px 5px;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #bababa;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bordercardinfoLearner {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    margin-top: 5px;
}

/* Card Learner info */

/*footer*/

.footer-bg {
    margin-top: 135px;
}

.input-style {
    margin-top: 60px;
}

/*===== BACK TO TOP =====*/

button:active {
    outline: none !important;
    border: none !important;
}

.forget-password {
    transition: 500ms;
}

.forget-password:hover {
    color: rgba(24, 24, 29, 0.94);
    text-decoration: underline;
}
i,
a {
    display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "shabnam", sans-serif;
    font-weight: 900;
    color: #2e2e2e;
    margin: 0px;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/*===== All Slick Slide Outline Style =====*/

.slick-slide {
    outline: 0;
}

/*===== All Button Style =====*/

.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 25px;
    font-size: 16px;
    line-height: 48px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    background: -webkit-linear-gradient(
        left,
        #33c8c1 0%,
        #119bd2 50%,
        #33c8c1 100%
    );
    background: -o-linear-gradient(left, #33c8c1 0%, #119bd2 50%, #33c8c1 100%);
    background: linear-gradient(
        to right,
        #33c8c1 0%,
        #119bd2 50%,
        #33c8c1 100%
    );
    background-size: 200%;
}

.main-btn:hover {
    color: #fff;
    background-position: right center;
}

/*===== All SECTION TITLE Style =====*/

.section-title .line {
    background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    width: 300px;
    height: 5px;
}

.section-title .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
}

@media (max-width: 767px) {
    .section-title .title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-title .title {
        font-size: 30px;
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Section Title Style =====*/

.section-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    color: #361cc1;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .section-title .sub-title {
        font-size: 16px;
    }
}

.section-title .title {
    font-size: 32px;
    /*padding-top: 10px;*/
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .section-title .title {
        font-size: 24px;
    }
}

.section-title .title span {
    font-weight: 400;
    display: contents;
}

/*===== All Slick Slide Outline Style =====*/

.slick-slide {
    outline: 0;
}

/*===== All Preloader Style =====*/

.preloader {
    /* Body Overlay */
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    /* Change Background Color */
    background: #fff;
    z-index: 99999;
}

.preloader .loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.preloader .loader .ytp-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    margin-left: -32px;
    z-index: 18;
    pointer-events: none;
}

.preloader .loader .ytp-spinner .ytp-spinner-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
    animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
        both;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    right: 50%;
}

.preloader
    .loader
    .ytp-spinner
    .ytp-spinner-container
    .ytp-spinner-rotator
    .ytp-spinner-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    left: 50%;
}

.preloader .loader .ytp-spinner-circle {
    box-sizing: border-box;
    position: absolute;
    width: 200%;
    height: 100%;
    border-style: solid;
    /* Spinner Color */
    border-color: #361cc1 #361cc1 #e1e1e1;
    border-radius: 50%;
    border-width: 6px;
}

.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
    left: 0;
    right: -100%;
    border-right-color: #e1e1e1;
    -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
}

.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
    left: -100%;
    right: 0;
    border-left-color: #e1e1e1;
    -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
        infinite both;
    -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
        both;
    -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
        both;
    animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */

@-webkit-keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes ytp-spinner-linspin {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        -moz-transform: rotate(540deg);
        -ms-transform: rotate(540deg);
        -o-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        -moz-transform: rotate(675deg);
        -ms-transform: rotate(675deg);
        -o-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -ms-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        -moz-transform: rotate(945deg);
        -ms-transform: rotate(945deg);
        -o-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -ms-transform: rotate(1080deg);
        -o-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes ytp-spinner-easespin {
    12.5% {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        -moz-transform: rotate(405deg);
        -ms-transform: rotate(405deg);
        -o-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        -moz-transform: rotate(540deg);
        -ms-transform: rotate(540deg);
        -o-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        -moz-transform: rotate(675deg);
        -ms-transform: rotate(675deg);
        -o-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        -moz-transform: rotate(810deg);
        -ms-transform: rotate(810deg);
        -o-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        -moz-transform: rotate(945deg);
        -ms-transform: rotate(945deg);
        -o-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        -moz-transform: rotate(1080deg);
        -ms-transform: rotate(1080deg);
        -o-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes ytp-spinner-left-spin {
    0% {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes ytp-right-spin {
    0% {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

/*===========================
      02.HEADER css
===========================*/

/*===== HEADER HERO =====*/

.header-hero {
    position: relative;
    z-index: 5;
    background-position: bottom center;
}

#particles-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-hero-content {
    padding-top: 180px;
}

@media (max-width: 767px) {
    .header-hero-content {
        padding-top: 100px;
    }
}

.header-hero-content .header-sub-title {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-sub-title {
        font-size: 30px;
    }
}

.header-hero-content .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-hero-content .header-title {
        font-size: 30px;
    }
}

.header-hero-content .text {
    color: #fff;
    margin-top: 30px;
}

.header-hero-content .main-btn {
    margin-top: 40px;
}

.header-hero-image {
    padding-top: 45px;
}

.header-hero-image img {
    max-width: 650px;
}

@media (max-width: 767px) {
    .header-hero-image img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .header-hero-image {
        padding-top: 30px;
    }
}

/*===========================
      03.BRAND css
===========================*/

@media (max-width: 767px) {
    .brand-logo {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.single-logo {
    padding: 0 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .single-logo {
        width: 50%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-logo {
        width: 33.33%;
    }
}

.single-logo img {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-logo:hover img {
    opacity: 1;
}

/*===========================
      04.SERVICES css
===========================*/

.single-services {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 50px 30px;
    /*border: 2px solid transparent;*/
    border-radius: 8px;
}

@media (max-width: 767px) {
}

.single-services .services-icon {
    display: inline-block;
    position: relative;
}

.single-services .services-icon img {
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.single-services .services-icon .shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.single-services .services-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 34px;
    color: #fff;
}

.single-services .services-content .services-title a {
    font-size: 26px;
    font-weight: 700;
    color: #2e2e2e;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .services-content .services-title a {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .single-services .services-content .services-title a {
        font-size: 20px;
    }
}

.single-services .services-content .services-title a:hover {
    color: #361cc1;
}

.single-services .services-content .text {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .single-services .services-content .text {
        margin-top: 20px;
    }
}

.single-services .services-content .more {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-services .services-content .more i {
    margin-left: 10px;
}

.single-services .services-content .more:hover {
    color: #361cc1;
}

.single-services:hover {
    border-color: #fe7a7b;
}

.single-services:hover .services-icon .shape {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

/*===========================
      05.ABOUT css
===========================*/

.about-area {
    position: relative;
    z-index: 5;
}

.about-shape-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-1 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-1 {
        display: none;
    }
}

.about-shape-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    z-index: -1;
}

.about-shape-2 img {
    width: 100%;
}

@media (max-width: 767px) {
    .about-shape-2 {
        display: none;
    }
}

.about-content {
    max-width: 480px;
}

.about-content .text {
    margin-top: 15px;
}

.about-content .main-btn {
    background: -webkit-linear-gradient(
        left,
        #fe8464 0%,
        #fe6e9a 50%,
        #fe8464 100%
    );
    background: -o-linear-gradient(left, #fe8464 0%, #fe6e9a 50%, #fe8464 100%);
    background: linear-gradient(
        to right,
        #fe8464 0%,
        #fe6e9a 50%,
        #fe8464 100%
    );
    background-size: 200%;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    margin-top: 40px;
}

.about-content .main-btn:hover {
    background-position: right center;
}

.main-video {
    position: relative;
    z-index: 500;
}

.main-video a i {
    position: absolute;
    top: 40%;
    left: 50vw;
    color: yellow;
    transition: 300ms;
    animation: infinite animation 1000ms;
    -webkit-animation: infinite animation 1000ms;
    -moz-animation: infinite animation 1000ms;
}

@keyframes animation {
    50% {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        color: #ffa600;
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        color: yellow;
    }
}

.vjs-afterglow-skin .vjs-control:before {
    color: red;
}

/*===========================
       07.TEAM css
===========================*/

.single-team {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    overflow: hidden;
    border-radius: 10px;
}

.single-team .team-image {
    position: relative;
}

.single-team .team-image img {
    width: 100%;
}

.single-team .team-image .social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.single-team .team-image .social ul {
    background-color: rgba(255, 255, 255, 0.23);
    display: inline-block;
    border-radius: 50px;
    padding: 0 13px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.single-team .team-image .social ul::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
    background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.single-team .team-image .social ul li {
    display: inline-block;
}

.single-team .team-image .social ul li a {
    padding: 15px 13px;
    color: #fff;
}

.single-team .team-content {
    padding: 30px;
}

.single-team .team-content .holder-name a {
    font-size: 20px;
    font-weight: 700;
    color: #2e2e2e;
}

.single-team .team-content .text {
    margin-top: 5px;
}

.single-team:hover .team-image .social ul::before {
    opacity: 1;
    visibility: visible;
}

/*===========================
     08.TESTIMONIAL css
===========================*/

.single-comment {
    border-radius: 12px;
    box-shadow: #20c5ba 1px 1px 7px;
    transition: 200ms;
    outline: none;
}

.single-comment:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
}

.single-comment .fa-star {
    color: rgba(255, 0, 20, 0.94);
}

.single-comment .fa-quote-right {
    font-size: 20px;
    color: #005cbf;
}

.description i {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.master-img img {
    transition: 0.2s;
}

.master-img img:hover {
    cursor: pointer;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.background_img {
    overflow: hidden;
}

/*===========================
       09.BLOG  css
===========================*/

.single-blog .blog-image img {
    border-radius: 10px;
    width: 100%;
}

.imageBlog {
    /*overflow: hidden;*/
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
}

.imageBlog:hover {
    transform: scale(1.008);
    -webkit-transform: scale(1.008);
    -moz-transform: scale(1.008);
    /* z-index: 100; */
    border: 1px solid #0abfbc;
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14) !important;
}

.single-blog .blog-content {
    padding-top: 25px;
}

.single-blog .blog-content .meta li {
    font-size: 16px;
    color: #6a6972;
    display: inline-block;
    margin-left: 50px;
}

.single-blog .blog-content .meta li:first-child {
    margin-left: 0;
}

.single-blog .blog-content .meta li a {
    color: #6a6972;
}

.single-blog .blog-content .text {
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    color: #2e2e2e;
    margin-top: 15px;
}

@media (max-width: 767px) {
    .single-blog .blog-content .text {
        font-size: 20px;
        line-height: 30px;
    }
}

.single-blog .blog-content .more {
    font-size: 16px;
    color: #fe7e71;
    margin-top: 30px;
}

.single-blog .blog-content .more i {
    margin-left: 5px;
}

/*===========================
       10.SUBSCRIBE  css
===========================*/

.subscribe-area {
    padding: 40px 50px 90px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    box-shadow: 0px 0px 8px 0px rgba(50, 77, 215, 0.14);
    border-radius: 10px;
    background-color: #fff;
}

@media (max-width: 767px) {
    .subscribe-area {
        padding: 10px 30px 60px;
    }
}

.subscribe-content .subscribe-title {
    font-size: 35px;
    font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-content .subscribe-title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .subscribe-content .subscribe-title {
        font-size: 24px;
    }
}

.subscribe-content .subscribe-title span {
    font-weight: 400;
}

.subscribe-form {
    position: relative;
}

.subscribe-form input {
    border: 2px solid #e1e1e1;
    height: 65px;
    padding: 0 30px;
    border-radius: 5px;
    width: 100%;
    color: #2e2e2e;
}

.subscribe-form input::placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-moz-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input::-webkit-input-placeholder {
    opacity: 1;
    color: #b9b9b9;
}

.subscribe-form input:focus {
    border-color: #20c5ba;
}

.subscribe-form button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 65px;
    line-height: 65px;
    background: -webkit-linear-gradient(
        to right,
        #2bc49c 0%,
        #20c5ba 50%,
        #20c5ba 100%
    );
    background: -o-linear-gradient(
        to right,
        #2bc49c 0%,
        #20c5ba 50%,
        #20c5ba 100%
    );
    background: linear-gradient(
        to right,
        #2bc49c 0%,
        #20c5ba 50%,
        #20c5ba 100%
    );
    background-size: 200%;
}

@media (max-width: 767px) {
    .subscribe-form button {
        position: relative;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .subscribe-form button {
        position: absolute;
        width: auto;
        margin-top: 0;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.subscribe-form button:hover {
    color: #fff;
    background-position: right center;
}

/*===========================
       11.FOOTER  css
===========================*/

.footer-area {
    background-position: top center;
    position: relative;
    z-index: 5;
}

.footer-area::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../images/footer1-bg.svg);
    background-position: top center;
    z-index: -1;
    background-size: cover;
}

@media only screen and (min-width: 1921px) {
    .footer-area::before {
        height: 1120px;
    }
}

#particles-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer-about .social li {
    display: inline-block;
    margin-right: 30px;
}

.footer-about .social li a {
    font-size: 22px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer-about .social li a:hover {
    color: #fe8464;
}

.footer-title .title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.link-wrapper {
    padding: 0 35px;
}

@media (max-width: 767px) {
    .link-wrapper {
        padding: 0;
        padding-right: 50px;
    }
}

.link-wrapper .link {
    padding-top: 20px;
}

.link-wrapper .link li {
    margin-top: 20px;
}

.link-wrapper .link li a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.link-wrapper .link li a:hover {
    color: #fe8464;
}

.footer-contact .contact {
    padding-top: 20px;
}

.footer-contact .contact li {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}

.footer-List ul li a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
    /* font-weight: 500; */
    margin-top: 12px;
}

.footer-List ul li:hover {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
}

.footer-copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    padding-bottom: 30px;
}

.copyright-content {
    padding-top: 15px;
    text-align: center;
}

.copyright-content p {
    color: #fff;
}

.copyright-content a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.copyright-content a:hover {
    color: #fe8464;
}

/*===== BACK TO TOP =====*/

.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: -o-linear-gradient(left, #361cc1 0%, #2e82ef 100%);
    background: linear-gradient(to right, #361cc1 0%, #2e82ef 100%);
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    display: none;
}

.back-to-top:hover {
    color: #fff;
}

.slick-dots li button::before {
    font-size: 40px;
    color: #fe6e9a;
    transition: 400ms;
    font-weight: 900;
}

.modal-body {
    position: relative;
}

.close {
    position: absolute;
    top: -20px;
}

.close i {
    color: red;
    font-size: 40px;
}

/*==============road map=======================*/

#start {
    padding: 30px;
    position: absolute;
    /*top: 50%;*/
    left: 50%;
    margin-bottom: 50px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.start_page {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10000;
}

.startBtn {
    display: none !important;
}

.enterName {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.enterNameContent {
    min-width: 300px;
    height: auto;
    background-color: grey;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.startpage {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

svg {
    width: 100%;
    margin-top: -150px;
}

#tablo2,
#tablo3,
#tablo4,
#tablo5,
#tablo6,
#tablo7,
#tablo8,
#tablo9,
#tablo10,
#sandogh1,
#sandogh2,
#sandogh3,
#sandogh4,
#sandogh5,
#sandogh6,
#rad_pa7,
#rad_pa8,
#rad_pa9,
#rad_pa10,
#rad_pa11,
#rad_pa12,
#rad_pa13,
#rad_pa14,
#rad_pa15,
#rad_pa1,
#rad_pa2,
#rad_pa3,
#rad_pa4,
#rad_pa5,
#rad_pa6 {
    opacity: 0;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
.close {
    color: orangered;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: white;
}
.modal-body {
    padding: 2px 16px;
}
.modal-footer {
    padding: 2px 16px;
    color: white;
}
.Start {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    z-index: 1000000;
}
.startCard {
    min-width: 60vw;
    height: 50vh;
    background-color: rgba(75, 74, 74, 0.65);
    border-radius: 10px;
    align-content: center;
}
.cardButtons .btn {
    margin: auto;
    padding: 20px 50px;
}
.btn:hover {
    opacity: 0.85;
    transition: ease 0.4s;
}
@keyframes animation {
    30% {
        transform: scale(1.22);
        -webkit-transform: scale(1.22);
        -moz-transform: scale(1.22);
    }
    100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        color: yellow;
    }
}
.social-hover:hover {
    transition: 800ms;
    animation: infinite animation 1200ms;
    -webkit-animation: infinite animation 1200ms;
    -moz-animation: infinite animation 1200ms;
}

/* go top button */
#gotop {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 120px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffe735;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

#gotop:hover {
    background-color: #fad623;
}
