
/*  Effect And Animation Div Elements */
.div-transition:hover {

transform : scale(0.9) ;
}

.div-transition {

transition : transform .5s ;
}


/*  Effect And Animation Div Elements */



/*  Landing Gradiant Buutons Custom */


.btnblogSmall
{
  color : #000 ;
  text-transform:uppercase ;
  transition : 0.5s ;
 
  background-size : 200% auto ;
  font-size: 16px;

}

.btnblogSmall:hover 
{
  background-position: right center; /* change the direction of the change here */
}


.btnblog
{
  color : #000 ;
  text-transform:uppercase ;
  transition : 0.5s ;
  padding : 2.125rem 2.25rem ;
  width : 100% ;
  
  background-size : 200% auto ;
  font-size: 20px;

}

.btnblog:hover 
{
  background-position: right center; /* change the direction of the change here */
}

.btn-title {
    background-image: linear-gradient(to right top, #46d2ad, #3cceb0, #32cbb3, #29c7b6, #20c3b8);
}

.btn-download {
  background-image: linear-gradient(to right top, #F9F871, #F9F871, #F9F871, #F9F871, #F9F871);
  border-color : #F9F871;
  color:#000;
  background-position: right center;
}
.btn-download:hover {
  background-image: linear-gradient(to right top, #F9F871, #F9F871, #F9F871, #F9F871, #F9F871);
  border-color : #F9F871;
  color:#000;
  background-position: right center;
}

.btn-disabled {
  pointer-events: none;
  cursor: default;
  background-image: linear-gradient(to right top, #F9F871, #F9F871, #F9F871, #F9F871, #F9F871);
  border-color : #F9F871;
  color:#000;
  background-position: right center;
}


.btn-1 {
  background-image: linear-gradient(to right, #DCE35B 0%, #45B649 51%, #DCE35B 100%);

  background-image: linear-gradient(to right, #F9F871 0%, #FFE171 51%, #F9F871 100%);

  
}

.btn-2 {
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);

 /* background-image: linear-gradient(to right, #F9F871 0%, #20C5BA  51%, #F9F871 100%); */

   
}

.btn-3 {
  background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);

  background-image: linear-gradient(to right, #FFC6A3 0%, #F88F6F 51%, #FFC6A3 100%);

  background-image: linear-gradient(to right, #9BDE7D 0%, #68EDCB 51%, #9BDE7D 100%);

  background-image: linear-gradient(to right, #68EDCB 0%, #9BDE7D 51%, #68EDCB 100%);

 /* background-image: linear-gradient(to right, #20C5BA 0%, #F9F871 51%, #20C5BA 100%); */
}

.btn-4 {
  background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%);

  background-image: linear-gradient(to right, #008E85 0%, #0ABFBC 51%, #008E85 100%);

  
}

.btn-5 {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
}

.btn-6 {
  background-image: linear-gradient(to right, #F9F838 0%, #F9F838 51%, #F9F838 100%);
}



/*  Landing Gradiant Buutons Custom */




/*  Detail Post Gradiant Buutons Custom */

.btnblogPost
{
  color : #000 ;
  text-transform:uppercase ;
  transition : 0.5s ;
  padding : 0.825rem 0.825rem ;
  width : 100% ;
  
  background-size : 100% auto ;
 

}

.btnblogPost:hover 
{
  background-position: right center; /* change the direction of the change here */
}


.btn_save_comment{
  background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC 51%, #FC354C 100%);
}


/*  Detail Post Gradiant Buutons Custom */


/*  Detail Post TimeLine Comments */

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    right: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-right: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*  Detail Post TimeLine Comments */


.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}







/*  Embeded Css From Danesh */

a.daneshka-scroll-bottom{display:inline-block;width:100%;color:#787b86;font:normal 20px/1 vazir;text-decoration:none;transition:opacity .3s;height:50px;position:relative}a.daneshka-scroll-bottom span{position:absolute;top:0;left:50%;width:30px;height:50px;margin-left:-15px;border:2px solid #20C5BA;border-radius:50px;box-sizing:border-box}a.daneshka-scroll-bottom span::before{position:absolute;top:10px;left:50%;content:'';width:6px;height:6px;margin-left:-3px;background-color:#787b86;border-radius:100%;-webkit-animation:sdb10 2s infinite;animation:sdb10 2s infinite;box-sizing:border-box}@keyframes sdb10{0%{transform:translate(0,0);opacity:0}40%{opacity:1}80%{transform:translate(0,20px);opacity:0}100%{opacity:0}}.margintop-40{margin-top:40px!important}.float-l{float:left!important}.float-r{float:right!important}.over-flow{overflow:hidden!important;margin-top:40px}.icon-holder{margin:0 70px;width:calc(100% - 120px)!important}.white{background:#fff;z-index:3}
/*  Embeded Css From Danesh */